// Artist page flex styles

.flex {
  display: flex;

  &-cover {
    justify-content: center;

    &__wrapper {
      flex-direction: column;
    }

    &__mix-btn {
      align-items: center;
      column-gap: 16px;
    }

    &__add-btn {
      align-items: center;
      column-gap: 16px;
    }

    &__buttons {
      display: flex;
      column-gap: 1.5rem;
    }
  }

  &-tracks {
    justify-content: center;

    &__container {
      flex-wrap: wrap;
      row-gap: 25px;
    }

    &__item-info {
      align-items: center;
      justify-content: space-between;
    }

    &__item-data {
      flex-direction: column;
    }
  }

  &-disco {
    justify-content: center;

    &__container {
      flex-wrap: wrap;
      row-gap: 25px;
    }

    &__item {
      flex-direction: column;
      row-gap: 18px;
    }
  }

  &-similar {
    justify-content: center;

    &__container {
      flex-wrap: wrap;
      row-gap: 25px;
    }

    &__item {
      flex-direction: column;
      align-items: center;
      row-gap: 17px;
    }
  }

  @media (max-width: $breakpoint-mob-max-w) {
    &-cover {
      &__buttons {
        flex-direction: column;
        row-gap: 1.5rem;
      }
    }
  }
}