// Header Styles

.header {
  padding-left: 120px;
  padding-right: 120px;

  &__logo {
    margin-right: 90px;
  }

  &__link {
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }
}

.logo {
  &__image {
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
  }
}

.nav {
  &__list {
    font-family: "Roboto", sans-serif;
    list-style: none;
    padding: 0;
  }

  &__link {
    color: $base-font-color;
  }

  &__chosen {
    color: #fff;
  }
}

.header-form {
  &__input {
    background-color: $color-dark-gray;
    border: none;
    border-radius: 50px;
  }

  &__input {
    padding: 5px 10px;
  }

  &__input::placeholder {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 13.3px;
    line-height: 15px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
  }
}
