// Footer styles

.footer {
  overflow: hidden;

  &__wrapper {
    width: 100%;
  }

  &__top {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
  }

  &__top-wrapper {
    position: relative;
  }

  /*&__top-wrapper::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border: 1px solid $base-font-color;
    box-sizing: border-box;
  } */

  &__header {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__bottom {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &-list {
      margin-top: 0;
      list-style-type: none;
      padding: 0;
    }
  }
}

.about {
  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    color: $color-light-gray;
  }
}

.service {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    color: $color-light-gray;
  }
}

.contacts {
  &__element {
    margin: 0;
    color: $color-light-gray;
  }
}

.socials {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__img {
    vertical-align: middle;
  }
}

.bottom {
  &__link {
    text-decoration: none;
    color: $color-light-gray;
  }
}