// Framework styles

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.m-l-24 {
  margin-left: 24px;
}

.f-w-700 {
  font-weight: 700;
}

.l-h-12_89 {
  line-height: 12.89px;
}

.artist-btn {
  display: block;
  width: 200px;
  padding: 20px 30px;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;

  &__text {
    text-transform: uppercase;
    color: #fff;
  }

  &__icon {
    filter: invert(1);
  }
}

// Backgrounds

.bg-cover {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.bg-banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.bg-card-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}

.bg-card-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-card-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.bg-footer-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
}