// Grid common styles

.grid {
  display: grid;

  &-footer {
    grid-template-rows: auto auto;

    &__top {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 40px;
    }

    &__socials {
      grid-template-columns: min-content min-content;
      column-gap: 24px;
    }

    &__bottom-list {
      grid-template-columns: min-content min-content min-content min-content min-content;
      column-gap: 16px;
    }
  }

  @media (max-width: $breakpoint-mob-max-w) {
    &-footer {
      &__top {
        grid-template-columns: 1fr;
        row-gap: 30px;
      }

      &__bottom-list {
        grid-template-columns: 1fr;
        row-gap: 16px;
      }
    }
  }
}