// Banner styles

.banner {
  z-index: -1;
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;

  &__h1 {
    margin: 0;
    color: #fff;
  }

  &__h2 {
    margin: 0;
    color: #fff;
  }

  &__paragraph {
    margin: 0;
    color: #fff;
    margin-top: 31px;
    margin-bottom: 17px;
  }

  &__form {
    max-width: 570px;
    font-size: 0;
  }

  &__input {
    min-width: calc(270px - 20px - 1px);
    min-height: calc(50px - 4px);
    padding: 0 0 0 20px;
    margin: 0 0 1.5rem 0;
    border: solid 2px $base-font-color;
    background-color: transparent;
    border-radius: 3px;

    &::placeholder {
      color: #fff;
      font-size: 14px;
      line-height: 16.41px;
      font-weight: 700;
      font-family: $base-font-family;
    }
  }

  &__button {
    height: 57px;
    width: 100%;

    background-color: $color-green;
    border: none;

    &_text {
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13.3px;
      line-height: 15.3px;
      color: #fff;
    }
  }
}

