// Grid Styles

.grid {
  display: grid;

  &_header {
    grid-template-columns: auto auto 1fr;

    &__form {
      justify-content: end;
      align-content: center;
    }

    &__logo {
      grid-template-columns: auto auto;
      column-gap: 16px;
      align-content: center;
    }

    &__list {
      grid-template-columns: auto auto auto auto;
      column-gap: 24px;
    }
  }

  &_footer {
    grid-template-rows: auto auto;

    &__top {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 40px;
    }

    &__socials {
      grid-template-columns: min-content min-content;
      column-gap: 24px;
    }

    &__bottom-list {
      grid-template-columns: min-content min-content min-content min-content min-content;
      column-gap: 16px;
    }
  }
}