@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.base {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}
.base__desk-h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}
.base__desk-h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}
.base__desk-h3 {
  font-size: 24px;
  line-height: 45px;
  font-weight: 400;
  text-transform: uppercase;
}
.base__desk-h3_capitalize {
  text-transform: capitalize;
}
.base__desk-h3_capitalize-bold {
  font-weight: bold;
}
.base__desk-h4 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
}
.base__desk-h4_capitalize-bold {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: capitalize;
}

.body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
}

.typography {
  font-weight: 400;
}
.typography__nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  line-height: 16.5px;
}
.typography__text-size_7 {
  font-size: 64px;
  line-height: 96px;
}
.typography__text-size_6 {
  font-size: 56px;
  line-height: 84px;
}
.typography__text-size_5 {
  font-size: 48px;
  line-height: 72px;
}
.typography__text-size_4 {
  font-size: 40px;
  line-height: 60px;
}
.typography__text-size_3 {
  font-size: 32px;
  line-height: 48px;
}
.typography__text-size_2 {
  font-size: 24px;
  line-height: 36px;
}
.typography__text_size_1 {
  font-size: 16px;
  line-height: 24px;
}
.typography__text-size_small {
  font-size: 12.8px;
  line-height: 19.2px;
}
.typography__text-size_small_bold {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.m-l-24 {
  margin-left: 24px;
}

.f-w-700 {
  font-weight: 700;
}

.l-h-12_89 {
  line-height: 12.89px;
}

.artist-btn {
  display: block;
  width: 200px;
  padding: 20px 30px;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
}
.artist-btn__text {
  text-transform: uppercase;
  color: #fff;
}
.artist-btn__icon {
  filter: invert(1);
}

.bg-cover {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.bg-banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.bg-card-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-card-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-card-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.bg-footer-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
}

.header {
  margin-top: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header__wrapper {
  width: 100%;
}
.header__link {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.header__link-wrap {
  margin-left: 16px;
}
.header__form-input {
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  width: 228px;
}
.header__form-input::placeholder {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
}

.logo__image {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.nav {
  font-family: "Roboto", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0 0 0 90px;
}
.nav__link {
  color: #cacaca;
}
.nav__chosen {
  color: #fff;
}

.footer {
  overflow: hidden;
  /*&__top-wrapper::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border: 1px solid $base-font-color;
    box-sizing: border-box;
  } */
}
.footer__wrapper {
  width: 100%;
}
.footer__top {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}
.footer__top-wrapper {
  position: relative;
}
.footer__header {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
.footer__bottom {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer__bottom-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.about__link {
  text-decoration: none;
  color: #e0e0e0;
}

.service__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.service__link {
  text-decoration: none;
  color: #e0e0e0;
}

.contacts__element {
  margin: 0;
  color: #e0e0e0;
}

.socials__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.socials__img {
  vertical-align: middle;
}

.bottom__link {
  text-decoration: none;
  color: #e0e0e0;
}

@media (min-width: 1240px) {
  .header__wrapper {
    max-width: 1200px;
  }
  .footer__top {
    max-width: 1200px;
  }
  .footer__bottom {
    max-width: 1200px;
  }
}
@media (max-width: 414px) {
  .header__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .header__link-wrap {
    margin-left: 16px;
  }
  .header__link {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
  }
  .header__li-item {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
  }
  .header__form-wrapper {
    margin-top: 18px;
    width: 100%;
  }
  .header__form-input {
    width: 100%;
  }
  .logo__image {
    margin-right: 0;
  }
  .logo__wrapper {
    margin-bottom: 17px;
  }
  .nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .footer {
    width: 100%;
  }
  .footer__top {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 75px;
  }
  .footer__bottom {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 47px;
  }
  .footer__header {
    margin-bottom: 16px;
  }
}
.flex {
  display: flex;
}
.flex-body {
  flex-direction: column;
}
.flex-main {
  flex-direction: column;
}
.flex-header {
  justify-content: center;
}
.flex-header__wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-header__logo {
  flex-wrap: wrap;
  align-items: center;
}
.flex-header__link-wrap {
  justify-content: center;
  align-items: center;
}
.flex-header__list {
  flex-wrap: wrap;
  column-gap: 24px;
}
.flex-header__li-item {
  justify-content: center;
  align-items: center;
}
.flex-logo__wrapper {
  flex-wrap: wrap;
}
.flex-footer__top-wrapper {
  justify-content: center;
}
.flex-footer__bottom-wrapper {
  justify-content: center;
}
@media (max-width: 414px) {
  .flex-header {
    flex-direction: column;
    align-items: start;
  }
  .flex-header__list {
    flex-direction: column;
    align-items: start;
    row-gap: 3px;
  }
  .flex-header__logo {
    flex-direction: column;
    align-items: start;
  }
}

.grid {
  display: grid;
}
.grid-footer__top {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}
.grid-footer__socials {
  grid-template-columns: min-content min-content;
  column-gap: 24px;
}
.grid-footer__bottom-list {
  grid-template-columns: min-content min-content min-content min-content min-content;
  column-gap: 16px;
}
@media (max-width: 414px) {
  .grid-footer__top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .grid-footer__bottom-list {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}

.banner {
  z-index: -1;
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}
.banner__h1 {
  margin: 0;
  color: #fff;
}
.banner__h2 {
  margin: 0;
  color: #fff;
}
.banner__paragraph {
  margin: 0;
  color: #fff;
  margin-top: 31px;
  margin-bottom: 17px;
}
.banner__form {
  max-width: 570px;
  font-size: 0;
}
.banner__input {
  min-width: 249px;
  min-height: 46px;
  padding: 0 0 0 20px;
  margin: 0 0 1.5rem 0;
  border: solid 2px #cacaca;
  background-color: transparent;
  border-radius: 3px;
}
.banner__input::placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.banner__button {
  height: 57px;
  width: 100%;
  background-color: #34c176;
  border: none;
}
.banner__button_text {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.3px;
  line-height: 15.3px;
  color: #fff;
}

.pricing {
  padding-top: 100px;
}
.pricing__cards {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.pricing__card {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  width: 318.6666666667px;
}
.pricing__h2 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
}
.pricing__footer {
  margin: 0;
  text-align: center;
  color: #fff;
}

.plan-card__h3 {
  margin-bottom: 200px;
  margin-top: 24px;
  line-height: 36px;
  color: #fff;
}
.plan-card__link {
  border: 1px solid #fff;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
}
.plan-card__footer {
  color: #fff;
  margin-top: 64px;
  margin-bottom: 64px;
}
.plan-card__price {
  color: #fff;
  margin-bottom: 56px;
  margin-top: 0;
  text-transform: uppercase;
}
.plan-card__price-value {
  font-size: 64px;
  line-height: 1em;
  position: relative;
  left: -16px;
  top: 17px;
}

.news {
  padding-top: 100px;
}
.news-elmnt__img {
  vertical-align: middle;
}
.news-elmnt__h3 {
  font-size: 30px;
  line-height: 45px;
  color: #fff;
  margin: 0;
}
.news-elmnt__p {
  color: #cacaca;
  margin: 30px 0 0 0;
}
.news-elmnt__author {
  margin: 25px 0 0 0;
}
.news-elmnt__button {
  display: inline-block;
  font-size: 12px;
  margin-top: 48px;
  padding: 16px 31px 17px 31px;
  border: 1px solid #cacaca;
  color: #cacaca;
  text-decoration: none;
}
.news-author__date {
  font-size: 12px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #cacaca;
}
.news-author__link {
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f89202;
}
.news__wrapper {
  width: 100%;
  box-sizing: border-box;
}
.news__items {
  width: 100%;
  margin-top: 48px;
}
.news__h2 {
  color: #fff;
  margin: 0;
}
.news__item:nth-child(2n) .news-elmnt__author {
  margin-top: 15px;
}

.mob-app {
  padding-top: 100px;
  padding-bottom: 100px;
}
.mob-app__wrapper {
  width: 100%;
}
.mob-app__h2 {
  color: #fff;
  margin: 0;
}
.mob-app__columns {
  width: 100%;
  margin-top: 48px;
}
.mob-app__description {
  max-width: 600px;
}
.mob-app__button {
  display: inline-block;
  text-decoration: none;
  background-color: #95390c;
  border-radius: 32px;
  padding: 16px 40px;
}
.mob-app__button-text {
  text-transform: capitalize;
  color: #fff;
}

@media (min-width: 1240px) {
  .banner__wrapper {
    max-width: 1200px;
  }
  .pricing__wrapper {
    max-width: 1200px;
  }
  .news__wrapper {
    max-width: 1200px;
  }
  .mob-app__wrapper {
    max-width: 1200px;
  }
}
@media (max-width: 414px) {
  .banner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 248px;
    padding-bottom: 201px;
    text-align: center;
  }
  .banner__h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .banner__h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .banner__paragraph {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .banner__form {
    width: 100%;
  }
  .banner__input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
  }
  .pricing {
    width: 100%;
  }
  .pricing__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .pricing__card {
    width: 100%;
  }
  .pricing__h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .plan-card__h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .news {
    width: 100%;
  }
  .news__h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .news__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .news-elmnt__wrapper {
    margin-top: 50px;
  }
  .news-elmnt__h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 400;
    text-transform: capitalize;
  }
  .news-elmnt__p {
    margin-top: 16px;
  }
  .news-elmnt__author {
    margin-top: 24px;
  }
  .mob-app {
    width: 100%;
  }
  .mob-app__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mob-app__h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.flex-banner {
  justify-content: center;
}
.flex-banner__wrapper {
  flex-direction: column;
  align-items: center;
}
.flex-pricing {
  justify-content: center;
}
.flex-pricing__wrapper {
  flex-direction: column;
  align-items: center;
}
.flex-pricing__cards {
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
}
.flex-pricing__card {
  flex-direction: column;
  align-items: center;
}
.flex-news {
  justify-content: center;
}
.flex-news__wrapper {
  flex-direction: column;
  align-items: center;
}
.flex-news__author {
  column-gap: 16px;
  align-items: center;
}
.flex-news__items {
  flex-direction: column;
  row-gap: 65px;
}
.flex-news__item {
  column-gap: 50px;
}
.flex-news__item:nth-child(2n) {
  flex-direction: row-reverse;
}
.flex-mob-app {
  justify-content: center;
}
.flex-mob-app__wrapper {
  flex-direction: column;
  align-items: center;
}
.flex-mob-app__columns {
  column-gap: 144px;
}
@media (max-width: 414px) {
  .flex-news__items {
    row-gap: 64px;
  }
  .flex-news__item {
    flex-direction: column;
  }
  .flex-news__item:nth-child(2n) {
    flex-direction: column;
  }
  .flex-news__item:nth-child(2n) .news-elmnt__author {
    margin-top: 16px;
  }
  .flex-mob-app__columns {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.cover {
  padding-top: 200px;
  padding-bottom: 200px;
}
.cover__wrapper {
  width: 100%;
}
.cover__h1 {
  color: #fff;
  margin-bottom: 0;
}
.cover__subs {
  color: #fff;
  margin: 16px 0 0 0;
}
.cover__buttons {
  margin-top: 48px;
  margin-bottom: 25px;
}
.cover__mix-btn {
  background-color: #5328a1;
}
.cover__add-btn {
  background-color: #95390c;
}

.tracks {
  padding-top: 100px;
}
.tracks__wrapper {
  width: 100%;
}
.tracks__h2 {
  margin: 0 0 48px 0;
  color: #fff;
}
.tracks__item {
  column-gap: 15px;
  width: 550px;
  margin-right: 50px;
}
.tracks__item-info {
  width: 100%;
}
.tracks__item-title {
  margin: 0;
  color: #fff;
}
.tracks__item-artist {
  color: #e0e0e0;
}
.tracks__item-length {
  color: #e0e0e0;
}

.disco {
  padding-top: 100px;
}
.disco__wrapper {
  width: 100%;
}
.disco__h2 {
  margin: 0;
  color: #fff;
}
.disco__container {
  margin-top: 48px;
}
.disco__item {
  margin-right: 50px;
}
.disco__item-image {
  vertical-align: middle;
}
.disco__item-title {
  margin: 0;
  color: #fff;
}
.disco__item-year {
  color: #e0e0e0;
}

.similar {
  padding-top: 100px;
  margin-bottom: 100px;
}
.similar__wrapper {
  width: 100%;
}
.similar__h2 {
  margin: 0;
  color: #fff;
}
.similar__container {
  margin-top: 48px;
}
.similar__item {
  margin-right: 50px;
}
.similar__item-title {
  margin: 0;
  color: #fff;
}
.similar__item-subs {
  color: #e0e0e0;
}
.similar__item-data {
  text-align: center;
}

@media (min-width: 1240px) {
  .cover__wrapper {
    max-width: 1200px;
  }
  .tracks__wrapper {
    max-width: 1200px;
  }
  .disco__wrapper {
    max-width: 1200px;
  }
  .similar__wrapper {
    max-width: 1200px;
  }
}
@media (max-width: 414px) {
  .cover {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cover__h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .tracks {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tracks__h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .tracks__item {
    margin-right: 0;
  }
  .disco {
    padding-left: 20px;
    padding-right: 20px;
  }
  .disco__h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .disco__item {
    max-width: 137px;
  }
  .disco__item-image {
    width: 137px;
    height: 137px;
  }
  .similar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .similar__h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .similar__item {
    max-width: 137px;
  }
  .similar__item-image {
    width: 137px;
    height: 137px;
  }
}
.flex {
  display: flex;
}
.flex-cover {
  justify-content: center;
}
.flex-cover__wrapper {
  flex-direction: column;
}
.flex-cover__mix-btn {
  align-items: center;
  column-gap: 16px;
}
.flex-cover__add-btn {
  align-items: center;
  column-gap: 16px;
}
.flex-cover__buttons {
  display: flex;
  column-gap: 1.5rem;
}
.flex-tracks {
  justify-content: center;
}
.flex-tracks__container {
  flex-wrap: wrap;
  row-gap: 25px;
}
.flex-tracks__item-info {
  align-items: center;
  justify-content: space-between;
}
.flex-tracks__item-data {
  flex-direction: column;
}
.flex-disco {
  justify-content: center;
}
.flex-disco__container {
  flex-wrap: wrap;
  row-gap: 25px;
}
.flex-disco__item {
  flex-direction: column;
  row-gap: 18px;
}
.flex-similar {
  justify-content: center;
}
.flex-similar__container {
  flex-wrap: wrap;
  row-gap: 25px;
}
.flex-similar__item {
  flex-direction: column;
  align-items: center;
  row-gap: 17px;
}
@media (max-width: 414px) {
  .flex-cover__buttons {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
