// Artist page media styles

@media (min-width: $breakpoint-desk-large-min-w) {
  .cover__wrapper {
    max-width: 1200px;
  }

  .tracks__wrapper {
    max-width: 1200px;
  }

  .disco__wrapper {
    max-width: 1200px;
  }

  .similar__wrapper {
    max-width: 1200px;
  }
}

@media (max-width: $breakpoint-mob-max-w) {
  .cover {
    padding-left: 20px;
    padding-right: 20px;

    &__h1 {
      @include mob-h-shwt($mob-h1-f-size, $mob-h1-l-height, $mob-h1-f-weight, $mob-h1-t-transform);
    }
  }

  .tracks {
    &__h2 {
      @include mob-h-shwt($mob-h2-f-size, $mob-h2-l-height, $mob-h2-f-weight, $mob-h2-t-transform);
    }

    &__item {
      margin-right: 0;
    }

    &__wrapper {
      box-sizing: border-box;
    }
  }

  .disco {
    &__wrapper {
      box-sizing: border-box;
    }

    &__h2 {
      @include mob-h-shwt($mob-h2-f-size, $mob-h2-l-height, $mob-h2-f-weight, $mob-h2-t-transform);
    }

    &__item {
      max-width: 137px;
    }

    &__item-image {
      width: 137px;
      height: 137px;
    }
  }

  .similar {
    padding-left: 20px;
    padding-right: 20px;

    &__h2 {
      @include mob-h-shwt($mob-h2-f-size, $mob-h2-l-height, $mob-h2-f-weight, $mob-h2-t-transform);
    }

    &__item {
      max-width: 137px;
    }

    &__item-image {
      width: 137px;
      height: 137px;
    }
  }
}