// Index page flex styles

.flex {
  &-banner {
    justify-content: center;

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }

  &-pricing {
    justify-content: center;

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__cards {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 50px;
      row-gap: 50px;
    }

    &__card {
      flex-direction: column;
      align-items: center;
    }
  }

  &-news {
    justify-content: center;

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__author {
      column-gap: 16px;
      align-items: center;
    }

    &__items {
      flex-direction: column;
      row-gap: 65px;
    }

    &__item {
      column-gap: 50px;

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }
  }

  &-mob-app {
    justify-content: center;

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__columns {
      column-gap: 144px;
    }
  }

  @media (max-width: $breakpoint-mob-max-w) {
    &-news {
      &__items {
        row-gap: 64px;
      }

      &__item {
        flex-direction: column;

        &:nth-child(2n) {
          flex-direction: column;

          & .news-elmnt__author {
            margin-top: 16px;
          }
        }
      }
    }

    &-mob-app {
      &__columns {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }
}